html, body {margin: 0px; padding: 0px; height: 100%; text-align: center; background-color: rgb(240,235,224);}
a {text-decoration: none;}
li {list-style-type: none;}
h1,h2,h3,a {font-family: 'Cardo', sans-serif; color: rgb(33,122,174);}
p {font-family: 'Montserrat', sans-serif; color: rgb(111,111,109)}
h1 {font-weight: 700; font-size: 70px; padding-top: 5%; margin-bottom: 20px;}
h2 {font-weight: 700; font-size: 50px; padding-top: 5%; margin-bottom: 20px;}
h3 {font-weight: 500; font-size: 20px; padding-top: 20px; padding-top: 20px; margin-bottom: 20px;}
p {font-weight: 300; font-size: 16px;}

hr {
  width: 100%;
  height: 5px;
  background: rgb(240,235,224);
  border: 0px;
  margin: 0;
}

 #logo, #logo img, #header, li, #slider img, #packages, #packages img {transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;}


/* hyphens */



/* HEADER *****************+**/
#header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(240,235,224);
}

#logo {
  width: 300px;
  float: left;
  margin: 20px 0 10px 100px;
}

#logo img {
  height: 50px;
  float: left;
  opacity: 1;
}

#logo img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#header:hover {
  opacity: 1;
}

#main-nav {
  float: right;
}
#header nav {
  margin: 10px 100px 0 0;
}

#header nav ul li, #header-fixed nav ul li {
  float: left;
  margin-right: 40px;
  margin-top: 5px;
}

#header nav ul li a, #header-fixed nav ul li a {
  color: rgb(111,111,109);
  font-size: 25px;
  font-weight: 500;
}

#header nav ul li a:hover {
  color: rgb(33,122,174);
}

/* WETTER IN BREMEN*****************+**/

#wetter_in_bremen{
  height: 800px;
  padding-top: 100px;
  background-color: rgb(33,122,174);
}

/* SLIDER *****************+**/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  float: left;
  width: 50%;
  position: relative;
  margin: 30px auto 0 auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  color: rgb(240,235,224);
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 100px;

}
.prev {
  left: 100px;
}

/* Caption text */
.text {
  color: rgb(240,235,224);
  font-family: 'Montserrat';
  font-size: 60px;
  position: absolute;
  margin-top: 70px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* CURRENT *****************+**/

.current {
  float: left;
  width: 50%;
  position: relative;
  padding-top: 30px;
  margin-top: 20px;
}

.current img{
  float: left;
  margin-left: 40px;
}

/* INTRODUCTION*****************+**/

#erklarung{
  min-height: 350px;
}

#erklarung-bild{
  float: left;
  width: 20%;
  padding-right: 20%;
  border-radius: 25px;
}

#erklarung-bild img{
  width: 400px;
  padding-left: 0;
}

#erklarung-text, #erklarung-text2{
  float: left;
  width: 35%;
  height: 500px;
  padding-left: 5%;
}

#erklarung-text, #erklarung-text2 p{
  padding-top: 20px;
  float: left;
  text-align: left;
}


/* ÜBER UNS*****************+**/

#uber_uns {
  min-height: 250px;
}

#uber_uns img{
  width: 800px;
  padding-top: 100px;
  padding-left: 0;
}

#uber_uns-body {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  margin: auto;
}

#uber_uns-body-text {
  float: center;
  width: 60%;
  height: 500px;
}

#uber_uns-body-text p {
  text-align: left;
  line-height: 1.6;
}

/* FOOTER *****************+**/
footer {
  height: 70px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(111,111,109);
  padding-left: 0px;
}
footer p {
  text-align: left;
  font-family: 'Cardo';
  font-size: 12px;
  margin: 15px auto 15px 100px;
  color: rgb(240,235,224);
}

footer a {
  font-family: 'Cardo';
  color: rgb(240,235,224);
}

footer hr {
    margin: 0px auto 0px auto;
}
