html, body {margin: 0px; padding: 0px; height: 100%; text-align: center; background-color: #FFFFFF;}
section {
  width: 100%;
  min-height:120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
a {text-decoration: none;}
li {list-style-type: none;}
h1,h2,h3,a {font-family: 'Cardo', sans-serif; color: #9033D4;}
p {font-family: 'Montserrat', sans-serif; color: #262626;}
h1 {font-weight: 700; font-size: 70px; padding-top: 5%; margin-bottom: 20px;}
h2 {font-weight: 700; font-size: 50px; padding-top: 5%; margin-bottom: 20px;}
h3 {font-weight: 500; font-size: 20px; padding-top: 20px; padding-top: 20px; margin-bottom: 20px;}
p {font-weight: 300; font-size: 16px;}

hr {
  width: 100%;
  height: 5px;
  background: #A6A6A6;
  border: 0px;
  margin: 0;
}

 #logo, #logo img, #header, li, #slider img, #packages, #packages img {transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;}


/* hyphens */



/* HEADER *****************+**/
#header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}

#line hr{
  width: 100%;
  height: 5px;
  background: #A6A6A6;
  border: 0px;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#logo {
  width: 300px;
  float: left;
  margin: 20px 0 10px 100px;
}

#logo img {
  height: 50px;
  float: left;
  opacity: 1;
}

#logo img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#header:hover {
  opacity: 1;
}

#main-nav {
  float: right;
}
#header nav {
  margin: 10px 100px 0 0;
}

#header nav ul li, #header-fixed nav ul li {
  float: left;
  margin-right: 40px;
  margin-top: 5px;
}

#header nav ul li a, #header-fixed nav ul li a {
  color: #262626;
  font-size: 25px;
  font-weight: 500;
}

#header nav ul li a:hover {
  color: #127475;
}

#swiper {
  position:relative;
  width: 100%;
  height: 100%;
  padding-top:50px;
  padding-bottom: 50px;
}

#swiper-slide {
  background: #262626;
  background-position: center;
  background-size: cover;
  width:350px;
  height:300px;
}

#swiper-slide img {  
  width: 100%;
  height: 100%;
}

#swiper-image{
  width:100%;
  height:100%
}
#imagesbox {
  width:100%;
  padding:40px;
  padding-top:90px;
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
} 
/* ÜBER UNS*****************+**/

#uber_uns {
  background-color: #FFFFFF ;
  min-height: 650px;
  padding: 0;
}

#uber_uns-body {
  width: 950px;
  margin: 0 auto 0 auto;
}

#uber_uns-body-text {
  float: left;
  width: 60%;
}

#uber_uns-body-text p {
  text-align: left;
  line-height: 1.6;
}

/* FOOTER *****************+**/
footer {
  height: 70px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #C2C2C2;
  padding-left: 0px;
}
footer p {
  text-align: left;
  font-size: 12px;
  margin: 15px auto 15px 100px;
}

footer a {
  font-family: 'Montserrat';
  color: #262626;
}

footer hr {
    margin: 0px auto 0px auto;
}
