html, body {margin: 0px; padding: 0px; height: 100%; text-align: center; background-color: rgb(240,235,224);}
a {text-decoration: none;}
li {list-style-type: none;}
h1,h2,h3,a {font-family: 'Cardo', sans-serif; color: rgb(33,122,174);}
p {font-family: 'Montserrat', sans-serif; color: rgb(111,111,109)}
h1 {font-weight: 700; font-size: 70px; padding-top: 5%; margin-bottom: 20px;}
h2 {font-weight: 700; font-size: 50px; padding-top: 5%; margin-bottom: 20px;}
h3 {font-weight: 500; font-size: 20px; padding-top: 20px; padding-top: 20px; margin-bottom: 20px;}
p {font-weight: 300; font-size: 16px;}

hr {
  width: 100%;
  height: 5px;
  background: rgb(240,235,224);
  border: 0px;
  margin: 0;
}

 #logo, #logo img, #header, li, #slider img, #packages, #packages img {transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;}


/* hyphens */



/* HEADER *****************+**/
#header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(240,235,224);
}

#line hr{
  width: 100%;
  height: 5px;
  background: rgb(111,111,109);
  border: 0px;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#logo {
  width: 300px;
  float: left;
  margin: 20px 0 10px 100px;
}

#logo img {
  height: 50px;
  float: left;
  opacity: 1;
}

#logo img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#header:hover {
  opacity: 1;
}

#main-nav {
  float: right;
}
#header nav {
  margin: 10px 100px 0 0;
}

#header nav ul li, #header-fixed nav ul li {
  float: left;
  margin-right: 40px;
  margin-top: 5px;
}

#header nav ul li a, #header-fixed nav ul li a {
  color: rgb(111,111,109);
  font-size: 25px;
  font-weight: 500;
}

#header nav ul li a:hover {
  color: rgb(33,122,174);
}

/* WETTER IN BREMEN*****************+**/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* ÜBER UNS*****************+**/

#uber_uns {
  min-height: 650px;
}

#uber_uns-body {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  margin: auto;
}

#uber_uns-body-text {
  text-align: center;
  float: center;
  width: 60%;
}

#uber_uns-body-text p {
  text-align: left;
  line-height: 1.6;
}

/* FOOTER *****************+**/
footer {
  height: 70px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(111,111,109);
  padding-left: 0px;
}
footer p {
  text-align: left;
  font-family: 'Cardo';
  font-size: 12px;
  margin: 15px auto 15px 100px;
  color: rgb(240,235,224);
}

footer a {
  font-family: 'Cardo';
  color: rgb(240,235,224);
}

footer hr {
    margin: 0px auto 0px auto;
}
